# dependencies
node_modules/
.env.local
.env.development.local
.env.test.local
.env.production.local
# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build
dist/
build/